# root folders
*.vs/
*.git/
*.env/

# file extensions
*.vcxproj.user

# ignore build folders and whatnot
*intermediate/
*build/
*cmake/

# entt specific
vendor/*/.github/
vendor/*bazel*
vendor/*conan*
vendor/*/test/
vendor/*/testbed/

#vendor stuff
vendor/*/doc/
vendor/*/docs/
vendor/*/examples/
vendor/*/scripts/
vendor/*.zip

# engine lib that needs to be compiled
*sc_game_engine.lib